<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="logAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Exception_Logs\%property{ExceptionLogName}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="500KB"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy hh:mm:ss tt} [%thread] %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <appender name="ExceptionlogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Exception_Logs\Exceptions\%property{LogName}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="500KB"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy hh:mm:ss tt} [%thread] %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="logAppender"/>
    </root>
    <logger name="Logs" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="logAppender"/>
    </logger>
    <logger name="ExceptionLogs" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="ExceptionlogAppender"/>
    </logger>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="OrdersDbConnectionString" connectionString="Persist Security Info=False;User ID=sa;Password=BlueKiteBrandNew;Initial Catalog=Orders;Data Source=192.168.1.9;pooling=true;Min Pool Size=10;Max Pool Size=200"/>
    <add name="SalesDbConnectionString" connectionString="Persist Security Info=False;User ID=sa;Password=BlueKiteBrandNew;Initial Catalog=Orders;Data Source=192.168.1.9;pooling=true;Min Pool Size=10;Max Pool Size=200"/>
  </connectionStrings>
  <appSettings>
    <add key="WebUrl" value="http://localhost:6623/"/>
    <add key ="GoogleLoginRedirectUrl" value =""/>
    <add key ="GoogleClientId" value ="687535073289-fcd47hd0qd90inap4klf1i4r72j1cv6g.apps.googleusercontent.com"/>
    <add key="GoogleClientSecret" value="1MAPI2HehDZzVGzrIfHJi2SP"/>
    <add key="GoogleLoginRedirectUrl" value="http://localhost:6623/GoogleLoginCallBack.aspx" />
  </appSettings>
</configuration>
