/Orders/Logs
/Orders/obj
/Orders/Web.Debug.config
/Orders/Web.Release.config
/Orders/Web.config


/Orders/packages.config
/Orders.BussinessLogicLayer/packages.config
/Orders.DataAccessLayer/packages.config
/Orders.UserDefinedClasses/packages.config
/packages

/Orders/Files
/Orders/Exception_Logs
/Orders/Exception_Logs
/Orders/Exception_Logs
/*.suo
