/Orders/Logs
/Orders/obj
/Orders/Web.Debug.config
/Orders/Web.Release.config
/Orders/Web.config
/Orders/bin/OrdersManagement.dll
/Orders/bin/OrdersManagement.pdb
/Orders/bin/Sales.BussinessLogicLayer.dll
/Orders/bin/Sales.BussinessLogicLayer.pdb
/Orders/bin/Sales.DataAccessLayer.dll
/Orders/bin/Sales.DataAccessLayer.pdb
/Orders/bin/Sales.dll
/Orders/bin/Sales.pdb
/Orders/bin/Sales.UserDefinedClasses.dll
/Orders/bin/Sales.UserDefinedClasses.pdb
/Orders/bin
/Orders.BussinessLogicLayer/obj
/Orders.BussinessLogicLayer/bin
/Orders.DataAccessLayer/bin
/Orders.DataAccessLayer/obj
/Orders.UserDefinedClasses/bin
/Orders.UserDefinedClasses/obj
